/*!
 * Custom styles af DIG
 */


/*Generelt*/

#html {
    cursor: pointer;
}
body {
    /*background-color: dimgray;*/
    margin: 0;
    padding: 0;
}
.forretter .indhold:nth-child(3n+1) {
    clear: both;
}
.hovedretter .indhold:nth-child(3n+1) {
    clear: both;
}
.sideorders .indhold:nth-child(3n+1) {
    clear: both;
}
.desserter .indhold:nth-child(3n+1) {
    clear: both;
}
.drikkevarer .indhold:nth-child(3n+1) {
    clear: both;
}
.header-img {
    background-image: url("../imgs/medium/hvidvin-md.jpg");
    background-size: cover;
    height: 285px;
    background-position: center;
    text-indent: -9999px;
    display: block;
}
.headertext {
    color: aliceblue;
    position: absolute;
    top: 5vw;
    left: 30vw;
}
.footerimg {
    width: 100%;
}
h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 10vw;
}
h2 {
    font-family: 'Satisfy', cursive;
}
h4 {
    font-family: 'Six Caps', sans-serif;
    font-size: 3vw;
}
p {
    font-family: 'Six Caps', sans-serif;
    font-size: 2vw;
    font-stretch: extra-expanded;
}
.overskrift {
    text-align: center;
}
.rabatpris {
    color: limegreen;
}
.udsolgt {
    text-decoration: line-through;
}
button.modalknap {
    font-family: 'Satisfy', cursive;
    font-size: 2vw;
}
button.modalknap:hover {
    color: darkred;
}

/*li {
    text-align: center;
}*/

img {
    width: 100%;
    padding: 1vw;
}
.btn {
    border-color: red;
    background-color: darkred;
}
.btn:hover {
    background-color: indianred;
}
